:root {
    counter-reset: affiliation 0 present-affiliation 0;
}
.affi {
    counter-increment: affiliation;
}
.affi::before {
    content: "*" counter(affiliation);
}
.paffi {
    counter-increment: present-affiliation;
}
.paffi::before {
    content: "†" counter(present-affiliation);
}
.paffi-pre::after {
    content: "現在、";
}
a.affi-ref::before {
    content: "*" target-counter(attr(href url), affiliation);
}
a.paffi-ref::before {
    content: "†" target-counter(attr(href url), present-affiliation);
}

.affi::before, .paffi::before, .affi-ref, .paffi-ref {
    font-size: 0.7rem;
    position: relative;
    inset-block-start: -0.5rem;
}
.affi-ref, .paffi-ref {
    color: black;
    text-decoration: none;
}
